{:tasks
 {fhir-schema-supported-packages-sync
  (do
    (def path "modules-1/profiling-and-validation/fhir-schema-validator/supported-implementation-guides.md")
    (def template
      "---
description: >-
  List of supported Implementation Guides, which synchronise automatically every
  day at 00:00 UTC
---

# Supported Implementation Guides

Here is the complete list of supported and ready-to-use Implementation Guides (IGs) for the new validator engine. We use [packages2.fhir.org](http://packages2.fhir.org/) as the source of truth for implementation guides and synchronise them daily at 00:00 UTC. This documentation page is also updated automatically. Implementation Guides are stored as FHIR Schema packages in our public [GCP bucket](https://console.cloud.google.com/storage/browser/fhir-schemas;tab=objects?forceOnBucketsSortingFiltering=true&prefix=&forceOnObjectsSortingFiltering=false&pli=1&authuser=0).

## Supported Packages

{{table_content}}

***
")
    (spit path
          (clojure.string/replace
           template
           "{{table_content}}"
           (clojure.string/replace
            (with-out-str
              (clojure.pprint/print-table
               (map (fn [v] (zipmap ["Package" "Versions"] v))
                    (into (sorted-map)
                          (update-vals
                           (group-by (comp first
                                           (fn [s] (clojure.string/split s (re-pattern "#"))))
                                     (remove
                                      (fn [p]
                                        (or (clojure.string/includes? p "terminology-index-db")
                                            (clojure.string/includes? p "url-global-index.ndjson.gz")))
                                      (map
                                       (fn [m] (second (clojure.string/split (get m "name") (re-pattern "/"))))
                                       (get
                                        (->> (slurp "https://storage.googleapis.com/storage/v1/b/fhir-schema-registry/o?maxResults=10000&delimiter=/1.0.0") 
                                             (cheshire.core/parse-string)) 
                                        "items"))))
                           (fn [versions]
                             (clojure.string/join ", "
                                                  (mapv (comp second (fn [s] (clojure.string/split s (re-pattern "#|/"))))
                                                        versions))))))))
            "+"
            "|")))

    )}}
