{:paths ["src"
         ;; "java" "classes"
         "libs"
         "resources"
         "docs"
         "docs-new"
         ".gitbook.yaml"
         ".gitbook"
         "version"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        context/system {:local/root "./libs/system"}
        context/http {:local/root "./libs/http"}
        hiccup/hiccup {:mvn/version "2.0.0-RC4"}
        ring/ring-core {:mvn/version "1.14.1"}

        ;; search
        org.msync/lucene-clj {:mvn/version "0.2.0-SNAPSHOT"}

        ;; 29.05.25 some useful fixes were not released
        io.github.nextjournal/markdown
        {:git/url "https://github.com/nextjournal/markdown.git"
         :sha "5829ec101331b1702841094f4dc897ee46f0ddcd"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        borkdude/edamame {:mvn/version "1.4.31"}
        amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
        ;; recompile java automaticallydeps
        ;; virgil/virgil {:mvn/version "0.4.0"}

        ;; rag
        ;; may be overhead but couldn't start without it
        ;; org.scicloj/noj {:mvn/version "2-beta2"}
        ;; io.github.zmedelis/bosquet {:mvn/version "2024.08.08"}
        ;; org.apache.opennlp/opennlp-tools {:mvn/version "1.9.4"}
        ;; dev.langchain4j/langchain4j-open-ai {:mvn/version "0.36.2"}
        ;; dev.langchain4j/langchain4j-cohere {:mvn/version "1.0.1-beta6"}
        ;; dev.langchain4j/langchain4j-easy-rag {:mvn/version "1.0.1-beta6"}
        ;; dev.langchain4j/langchain4j-document-parser-apache-pdfbox {:mvn/version "1.0.1-beta6"}
        ;; dev.langchain4j/langchain4j {:mvn/version "1.0.1"}
        ;; dev.langchain4j/langchain4j-ollama {:mvn/version "1.0.1-beta6"}
        ;; dev.langchain4j/langchain4j-embeddings-all-minilm-l6-v2 {:mvn/version "1.0.1-beta6"}
        }
 :aliases
 {:dev
  {:extra-paths ["dev" "test" "resources"]
   :extra-deps {io.github.tonsky/clj-reload {:mvn/version "0.9.8"}
                io.github.tonsky/clojure-plus {:mvn/version "1.6.1"}}
   :jvm-opts []}

  :nrepl {:extra-paths ["test"]
          :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
          :jvm-opts ["-Djdk.attach.allowAttachSelf"]
          :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}

  :mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/sha "d28a6712f7a94b22bbbdf846de4e80c36589aa80"}}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888}}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]}

  :kaocha
  {:main-opts ["-m" "kaocha.runner"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

  :build
  {:extra-paths ["build"]
   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}}}}}
