apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gitbok

resources:
  - configmap-grafana-dashboard.yaml
  - configmap.yaml
  - cronjob-cleanup-tasks.yaml
  - cronjob-index-examples.yaml
  - cronjob-reindex-v2.yaml
  - service.yaml
  - serviceaccount.yaml
  - servicemonitor.yaml
  - statefulset.yaml

commonLabels:
  app.kubernetes.io/name: meilisearch
  app.kubernetes.io/part-of: documentation-search

configMapGenerator:
  - name: meilisearch-scraper-config
    files:
      - config.json=./config.json
  - name: meilisearch-scraper-config-fhirbase
    files:
      - config.json=./config-fhirbase.json
  - name: meilisearch-scraper-config-auditbox
    files:
      - config.json=./config-auditbox.json
  - name: meilisearch-examples-indexer-script
    files:
      - index-examples.py=./index-examples.py

generatorOptions:
  disableNameSuffixHash: false
