apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: comentario-poller-state
  namespace: gitbok
  labels:
    app.kubernetes.io/name: comentario-poller
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: standard
